  <div class="row no-gutters">
    <div class="col-md-10 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">
      <h3 class="text-dark bg-light p-4 mb-0">授業評価の編集</h3>
      <div class="form-body p-3">
        <% if @rating.errors.any? %>
          <span class="text-danger"><%= @rating.errors.count %>件のエラーが発生しました。</span>
          <ul>
          <% @rating.errors.full_messages.each do |message| %>
            <li class="text-danger"><%= message %></li>
          <% end %>
          </ul>
        <% end %>
        <%= form_with model: @rating, local:true do |f| %>
          <div class="form-group">
            <%= f.label :class_type %> <span class="text-danger">必須</span>
            <%= f.select :class_type, [["一般教養", "一般教養"], ["専門科目", "専門科目"], ["ゼミ", "ゼミ"], ["その他", "その他"]], { include_blank: "選択して下さい"}, { class: "form-control form-control-lg mb-3"} %>
          </div>
          <div class="form-group">
            <%= f.label :faculty %> <span class="text-danger">必須</span>
            <%= f.select :faculty, [["人文学部", "人文学部"], ["教育学部", "教育学部"], ["経済学部", "経済学部"], ["理学部", "理学部"], ["工学部", "工学部"], ["都市デザイン学部", "都市デザイン学部"], ["医学部", "医学部"], ["薬学部", "薬学部"], ["芸術文化学部", "芸術文化学部"]], { include_blank: "選択して下さい"}, { class: "form-control form-control-lg mb-3"} %>
          </div>
          <div class="form-group">
            <%= f.label :department %> <span class="text-danger">必須</span>
            <%= f.text_field :department, class:"form-control form-control-lg mb-3", placeholder:"○○学科" %>
          </div>
          <div class="form-group">
            <%= f.label :subject_name %> <span class="text-danger">必須</span>
            <%= f.text_field :subject_name, class:"form-control form-control-lg mb-3", placeholder:"入力してください" %>
          </div>
          <div class="form-group">
            <%= f.label :professor_name, "教授/講師名" %> <span class="text-danger">必須</span>
            <%= f.text_field :professor_name, class:"form-control form-control-lg mb-3", placeholder:"姓名スペースなしで入力" %>
          </div>
          <div class="form-group">
            <%= f.label :nickname %> <span class="text-danger">必須</span>
            <%= f.text_field :nickname, class:"form-control form-control-lg mb-3", placeholder:"閲覧画面に表示されます。" %>
          </div>
          <div class="form-group">
            <%= f.label :body %> <span class="text-danger">必須</span>
            <%= f.text_area :body, class:"form-control form-control-lg mb-3", rows:"3", placeholder:"10字以上で入力してください" %>
          </div>
          <div class="form-group">
            <%= f.label :exam_content %> <span class="text-danger">必須</span>
            <%= f.text_area :exam_content, class:"form-control form-control-lg mb-3", rows:"3", placeholder:"10字以上で入力してください" %>
          </div>
          <hr>
            <%= f.submit '更新する', class:"btn btn-lg btn-block btn-success mt-4" %>
        <% end %>
      </div>
    </div>
  </div>

